<div class="wrapper" ng-init="getHolidayList()">
    <header class="sub-pg-header"> 
        <ul>
            <li class="sub-nav-btn"><a ui-sref="home"><i class="fa-back"></i></a></li>  
            <li><h4>Holiday List 2016 for Embassy & Consulates</h4></li> 
        </ul> 
    </header>
	<!-- MAIN_CONTENT starts -->	
	<div class="main-content holiday-list">
		<uib-tabset class="hrz-tabs" active="active">
		 	<uib-tab id="tab0"  index="$index"  ng-repeat="(k,v) in holidayList" heading="{{k}}">
                <div class="tab-content">
                	<div class="table-responsive">
						<table class="table no-border col-2">
							<tr>
								<td><b>Date</b></td>
								<td><b>Name</b></td>
							</tr>
							<tr ng-repeat="(key, val) in v track by $index">
								<td>{{val.date}}</td>
								<td>{{val.holidayname}}</td>
							</tr>
						</table>
					</div>
                </div>
            </uib-tab>
		</uib-tabset>
	</div>
	<!-- MAIN_CONTENT starts --> 
</div>
<!-- footer starts -->
<div class="splash-bg"></div>
<!-- footer ends -->