<div class="wrapper">
    <header class="sub-pg-header"> 
        <ul>
            <li class="sub-nav-btn"><a ui-sref="passport-status-history"><i class="fa-back"></i></a></li>  
            <li><h4>Passport Status History</h4></li> 
        </ul> 
    </header>
    
    <!-- MAIN_CONTENT starts -->	
    <div class="main-content">			
        <div class="day-nav table-style">
            <a href="#" class="btns prev table-cell" ng-click="change(-1)"><i class="fa-arrow-circle-left"></i></a>
            <h3 class="table-cell ttl-sec">{{dateReceived | date : "MMM dd , yyyy EEEE"}}</h3>
            <a href="#" class="btns next table-cell" ng-click="change(1)"><i class="fa-arrow-circle-right"></i></a>
        </div>
        
        <div class="status-message-box">
            <div class="separator">
                <span><i class="fa-clock-o"></i> {{dateReceived | date : "h:mm a"}}</span>
            </div>
            <div class="status">
                <span class="circle green-circle">
                    <i class="fa-check"></i>
                </span>
                <h4 class="txt-green">{{statusReceived}}</h4>
            </div>
            <p ng-bind-html="render2HTML(statusMessage)"></p>
        </div>
    </div>
    <!-- MAIN_CONTENT starts --> 
</div>

<footer class="app-footer" data-ng-include="'views/commonfooter.html'">
  
</footer>

<div class="splash-bg"></div>