<div class="wrapper">
  <!-- Sub Header @ Page level -->
  <header class="sub-pg-header"> 
    <ul>
     <li class="sub-nav-btn"><a ui-sref="faq"><i class="custom-close"></i></a></li> 
     <li class="page-tl"><h4>Passport Services Guide</h4></li>
    </ul> 
  </header>
      
  <!-- MAIN_CONTENT starts -->  
  <div class="main-content passport-services-guide">
      <div class="question-wrapper">
         <span>Q.</span> {{question}}
      </div>
      <p ng-bind-html="renderHTML(answer)"></p>
  </div>
    <!-- MAIN_CONTENT starts --> 
</div>

<!-- Footer :: Starts -->
    <!-- footer starts -->
<div class="splash-bg"></div>
<!-- footer ends -->

<!-- Road block pop up starts -->
<div id="rate-our-app" class="white-popup-block mfp-hide">
	<div class="rate-our-app-img"><img src="resources/images/rate-our-app.jpg" alt=""></div>
	<h4>Rate Our App</h4>
	<p>If you enjoying using CKGS App, would you mind taking a moment to rate it? It won’t take more than a minute. Thanks for your support!</p>
	<a href="#" class="btn">Rate Now</a>
	<a href="#" class="btn gray-btn">Maybe Later</a>
	<a href="#" class="btn gray-btn mfp-close">No Thanks</a>
</div>

