<div class="wrapper">
	<!-- Sub Header @ Page level -->
    <header class="sub-pg-header"> 
        <ul>
            <li class="sub-nav-btn"><a ui-sref="home"><i class="fa-back"></i></a></li>  
            <li><h4>Passport Status History</h4></li> 
        </ul> 
    </header>
      <!-- MAIN_CONTENT starts -->  
    <div class="main-content" ng-init="history()">
        <ul class="list-none table-style status-history-steps">
            <li>
                <a href="#">
                    <span class="double-custom-icons"><i class="icon-history-steps"></i></span>
                    <span class="txt-red"></span>
                </a>
            </li>
            <li  ng-repeat = "list in historyList track by $index" ng-init="date = StrToDate(list.Date);">
                <a href="#" ng-click="viewHistory(list,$index)">
                    <span class="circle-l grey-circle">
                        <span class=""><b>{{date | date : "MMM d"}}</b></span>
                        <span class="">{{date | date : "y"}}</span>
                        <span class="">{{date | date : "EEE"}}</span>
                    </span>
                    <span class="txt-green"><i class="fa-check"></i>{{list.Status}}</span>
                </a>
            </li>
        </ul>
    </div>
    <!-- MAIN_CONTENT starts --> 
</div>

<footer class="app-footer" data-ng-include="'views/commonfooter.html'">
  
</footer>

<div class="splash-bg"></div>
