<div class="mfp-container mfp-inline-holder">
<div class="mfp-content">
<div id="rate-our-app" class="white-popup-block">
	<div class="rate-our-app-img">
		<img src="resources/images/rate-our-app.jpg" alt="">
	</div>
	<h4>Rate Our App</h4>
	<p>If you enjoying using CKGS App, would you mind taking a moment to rate it? It won’t take more than a minute. Thanks for your support!</p>
	<a href="#" class="btn">Rate Now</a>
	<a href="#" class="btn gray-btn">Maybe Later</a>
	<a href="#" class="btn gray-btn mfp-close">No Thanks</a>
</div>
</div>
</div>