<div class="mfp-container mfp-inline-holder">
<div class="mfp-content">
<div id="rate-our-app" class="white-popup-block">
	<div class="rate-our-app-img">
		<img src="resources/images/rate-our-app.jpg" alt="">
	</div>
	<h4>Rate Our App</h4>
	<p>If you enjoying using CKGS App, would you mind taking a moment to rate it? It won’t take more than a minute. Thanks for your support!</p>
	<p>
	<div>
		<span uib-rating ng-model="x" max="5" state-on="'fa fa-star'" state-off="'fa fa-star-o'" aria-labelledby="custom-icons-1"></span>
		<b>(<i>Rate:</i> {{x}})</b>
	</div>
	</p>
	<a href="#" class="btn" ng-click="rateCKGS(x)">Rate Now</a>
	<a href="#" class="btn gray-btn" ng-click="close()">Maybe Later</a>
	<a href="#" class="btn gray-btn mfp-close" ng-click="close()">No Thanks</a>
</div>
</div>
</div>