<div class="wrapper">
  <!-- Sub Header @ Page level -->
  <header class="sub-pg-header"> 
    <ul>
       <li class="sub-nav-btn"><a ui-sref="home"><i class="fa-back"></i></a></li> 
       <li class="page-tl"><h4>Terms &amp; Conditions</h4></li>
    </ul> 
  </header>
        
  <!-- MAIN_CONTENT starts -->  
  <div class="main-content passport-services-guide" ng-init="getTerms()">
      <p ng-bind-html="renderHTML(description)"></p>
  </div>
  <!-- MAIN_CONTENT starts --> 
</div>

 <!-- Footer :: Starts -->
  <!-- footer starts -->
  <div class="splash-bg"></div>
  <!-- footer ends -->