<div class="wrapper">
    <header class="sub-pg-header"> 
        <ul>
            <li class="sub-nav-btn">
                <a ui-sref="home"><i class="fa-back"></i></a>
            </li>  
            <li class="page-tl"><h4>Track Shipping Status</h4></li> 
        </ul> 
    </header>
    
    <!-- MAIN_CONTENT starts -->  
    <div class="main-content track-shipipng-status">
        <uib-tabset class="hrz-tabs-02">
            <uib-tab heading="FEDEX SHIPPING" active="isFedexTabActive">
                <div class="feedback-form" style="padding:50px;">
                    <form class="form-group">
                        <div class="feedback-form">
                            <input type="text" class="form-control" placeholder="Airway Bill Number" />
                            <input type="text" class="form-control" placeholder="Current Indian Passport Number" />
                            <a href="#" class="btn btn-primary btn-gradient txt-upper">check status</a>
                        </div>
                    </form>
                </div>
            </uib-tab>
            <uib-tab heading="OTHER SHIPPING" active="isOtherTabActive">
                <div class="feedback-form" style="padding:50px;">
                    <form class="form-group">
                        <div class="feedback-form">
                            <input type="text" class="form-control" placeholder="Other Bill Number" />
                            <input type="text" class="form-control" placeholder="Current Indian Passport Number" />
                            <a href="#" class="btn btn-primary btn-gradient txt-upper">check status</a>
                        </div>
                    </form>
                </div>
            </uib-tab>
        </uib-tabset>
    </div>
  <!-- MAIN_CONTENT starts --> 
</div>

<!-- footer starts -->
<footer class="app-footer" data-ng-include="'views/commonfooter.html'">
  
</footer>
<!-- footer ends -->
<!-- footer script starts -->
<!-- footer starts -->
<div class="splash-bg"></div>
<!-- footer ends -->