<div class="wrapper">
    <header class="sub-pg-header"> 
        <ul>
            <li class="sub-nav-btn">
                <a ui-sref="home"><i class="fa-back"></i></a>
            </li>  
            <li class="page-tl"><h4>Track Shipping Status</h4></li> 
        </ul> 
    </header>
    
    <!-- MAIN_CONTENT starts -->  
    <div class="main-content track-shipipng-status" ng-init="getStatus()">
       <p class="text-center text-danger" ng-if="status == 0"><b>{{message}}</b></p>
        <div class="row">
            <dl class="dl-horizontal" ng-if="status == 1">
              <dt>WebReferenceNo</dt>
              <dd>{{WebReferenceNo}}</dd>
              <dt>{{fromSource}} :</dt>
              <dd>{{fromAddress}}</dd>
              <dt>{{toSource}} :</dt>
              <dd>{{toAddress}}</dd>
            </dl>
        </div>
    </div>
  <!-- MAIN_CONTENT starts --> 
</div>

<!-- footer starts -->
<footer class="app-footer" data-ng-include="'views/commonfooter.html'">
  
</footer>
<!-- footer ends -->
<!-- footer script starts -->
<!-- footer starts -->
<div class="splash-bg"></div>
<!-- footer ends -->