<div class="wrapper">
		<header class="sub-pg-header"> 
	        <ul>
	            <li class="sub-nav-btn">
	                <a ui-sref="home"><i class="fa-back"></i></a>
	            </li>  
	            <li class="page-tl"><h4>Passport Status Updated</h4></li> 
	        </ul> 
	    </header>
		<!-- MAIN_CONTENT starts -->	
			<div class="main-content">
				<ul class="search-res-info-list">
					<li><b>USAWP8JLO5U16C</b></li>
					<li>Ordinary Booklet - 36 pages  </li>
					<li>Re-issue of Passport - Normal </li>
					<li>Miscellaneous Services</li>
				</ul>
				<div class="day-nav">
					<div class="status-message-box text-center">
						<span>Jun 10, 2016  Monday  04:22 pm  </span>
						<div class="status">
							<span class="circle red-circle">
								<i class="fa-file-text-o"></i>
							</span>
							<h4 class="txt-red">RECEIVED</h4>
						</div>
						<p>
							Application <span class="txt-red">'RECEIVED'</span> BY CKGS and  <span class="txt-red">'Not Verified’'</span>
						</p>
					</div>
				</div>
            </div>
		<!-- MAIN_CONTENT starts --> 
	</div>
	<!-- footer starts -->
	<footer class="app-footer" data-ng-include="'views/commonfooter.html'"></footer>
      <!-- footer script starts -->
      <!-- footer starts -->
<div class="splash-bg"></div>
<!-- footer ends -->
